<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Item">
    <insert id="insertItem">
        insert into ITEMS (productName, image, price, discount, quantity, brandName, phoneNum, brandemail, brandAddress, descriptions, regdate)
        values
        (#{productName} , #{image} , #{price} , #{discount}, #{quantity}, #{brandName}, #{phoneNum}, #{brandemail}, #{brandAddress}, #{descriptions}, #{regdate})
    </insert>
    <update id="updateItem">
        update ITEMS
        set productName=#{productName}, image=#{image}, price=#{price}, discount=#{discount}, quantity=#{quantity}, brandName=#{brandName}, phoneNum=#{phoneNum}, brandemail=#{brandemail}, brandAddress=#{brandAddress}, descriptions=#{descriptionns}, regdate=#{regdate}
        where seq=#{seq}
    </update>
    <delete id="deleteItem">
        delete from ITEMS where seq=#{seq}
    </delete>
    <select id="getItem" resultType="Item">
        select * from ITEMS where seq=#{seq}
    </select>
    <select id="getItemList" resultType="Item">
        select * from ITEMS order by seq desc
    </select>
</mapper>